 <!-- Barra de Navegação -->
 <header class="fixed-top">
  <div class="container">
      <center>
          <h3 class="logo">Loja De Fé</h3>
      </center>
      <nav>
          <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#produtos">Produtos</a></li>
              <li><a href="#sobre">Sobre Nós</a></li>
              <li><a href="#contato">Contato</a></li>
              <li><a href="#localizacao">Localização</a></li>
              <li><a href="#anuncios">Anúncios</a></li>
          </ul>
      </nav>
  </div>
</header>